*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header{
    background-color: blueviolet;
    color: blueviolet;
    height: 100px;
    padding: 20px;
    
}

main{
    border: 4px blueviolet solid;
}

#numeriAvideo {
    margin-top: 30px;
    font-size: 35px;

}

.content{
    display: flex;
    justify-content: center;
    
}


    